@font-face {
    font-family: CUSTOM;
    src: url(../fonts/FZSEYBJW.TTF);
}

body,
html {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

#background {
    background-color: rgba(250, 232, 232, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

#pinkboard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -80;
}

#happy {
    position: fixed;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: #ea80b0;
    font-size: 20px;
    font-family: CUSTOM;
    font-size: 3rem;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
    min-width: 270px;
}

#yangqilin {
    position: fixed;
    top: 56%;
    left: 58%;
    transform: translate(-50%, -80%);
    color: #ea80b0;
    font-size: 20px;
    font-family: CUSTOM;
    font-size: 3rem;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
}

#tree {
    position: fixed;
    top: 72%;
    right: 50%;
    transform: translate(-140px, 0%);
    color: #ea80b0;
    font-size: 20px;
    font-family: CUSTOM;
    font-size: 3rem;
    width: 96px;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
}

#pink {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(135px, 0%);
    color: #ea80b0;
    font-size: 20px;
    font-family: CUSTOM;
    font-size: 3rem;
    width: 125px;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
}

.popo-list {
    position: fixed;
    display: flex;
    left: 50%;
    transform: translate(-50%, 10px);
    min-width: 620px;
    align-items: center;
    justify-content: center;
}

.popo {
    opacity: 0.5;
    position: relative;  
    /* z-index: -100; */
    border-radius: 50%;
    filter: blur(1px);
    max-width: 120px;
    margin: 6px;
    cursor: pointer;
    transition: all 0.25s ease-out;
}

.popo:hover {
    opacity: 1;
    margin: 0px;
    max-width: 130px;
}